<% if logged_in? %>
    <div id="bootstrap-current-user">
        <script type="text/javascript">
        window.currentUser = <%= render(
            'api/users/user',
            user: current_user,
            formats: [:json]
            ).html_safe %>
        </script>
    </div>
    
<% end %>

<main id="root">
  React is not working
</main>