@import "./style";


* {
    font-family: interstatelight;
    color: #333;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.main-content {
    padding-top: 46px;
    padding-bottom: 50px;
    width: 88%;
    min-height: 86vh;
    background-color: white;
}

a {
    color: $blue;
    text-decoration: none;
}


h1 {
    font-size: 32px;
    font-family: interstateregular;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-family: interstatelight;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-family: interstatelight;
    font-weight: 400;

}

input {
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0px;
}

.cancel-upload {
    @include small-transparent-button;
    color: #333;
    height: 26px;
    position: relative;
    left: 80%;
}

.save-upload {
    @include small-orange-button;
    height: 26px;
    position: relative;
    left: 80%;
}
