$orange: #f50;
$blue: #38d;
$dark-grey: #6c6c6c;
$light-grey: #999999;
$very-light-grey: #cecece;

// @mixin h1 {
//     font-size: 32px;
//     font-family: interstateregular;
// }

// @mixin h3 {
//     font-size: 14px;
// }

@mixin large-orange-button {
    background-color: $orange;
    color: white;
    align-items: center;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    margin: 10px 0px;
    &:hover {
        cursor: pointer;
        -webkit-filter: brightness(70%);
    }


}

@mixin small-orange-button {
    background-color: $orange;
    color: white;
    align-items: center;
    font-size: 14px;
    padding: 2px 16px;
    border-radius: 3px;
    border: none;
    margin: 0px 0px 0px 6px;
    &:hover {
        cursor: pointer;
        -webkit-filter: brightness(70%);
    }

}

@mixin small-transparent-button {
    background-color: transparent;
    color: white;
    align-items: center;
    font-size: 14px;
    padding: 2px 16px;
    border-radius: 3px;
    border: 1px solid #666;
    margin: 0px 0px 0px 6px;
    &:hover {
        cursor: pointer;
        border-color: white;
    }

}

@font-face {
    font-family: 'interstatelight';
    src: font-url('./fonts/interstate_light_regular-webfont.woff2') format('woff2');
    src: font-url('./fonts/interstate_light_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interstateregular';
    src: font-url("./fonts/interstateregular_regular-webfont.woff2") format('woff2');
    src: font-url("./fonts/interstateregular_regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}