@import "./style";

.modal-background {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10;
}

.modal-child {
	background-color: white;
}

.login-form-container {
	width: 450px;
}

.login-form-box * {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.login-form-box {
	padding: 25px;
	border-radius: 3px;
}

.login-form-box button {
	@include large-orange-button;
}

.song-edit-modal {
  width: 900px;
}