@import "./style";

.modal-background {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.modal-child {
	background-color: white;
	border-radius: 5px;
	z-index: 1001;
	position: relative;
}

.login-form-container {
	width: 450px;

	@include mobile {
		width: 90vw;
		max-width: 400px;
	}
}

.login-form-box * {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.login-form-box {
	padding: 25px;
	border-radius: 3px;

	@include mobile {
		padding: 20px 15px;
	}

	& ul {
		color: #d32f2f;
		font-size: 13px;
		list-style: none;
		padding: 0;
		margin: 10px 0;
		line-height: 1.4;

		@include mobile {
			font-size: 12px;
			margin: 8px 0;
		}
	}

	& li {
		margin-bottom: 4px;
	}

	& h1 {
		@include mobile {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}

	& h3 {
		@include mobile {
			font-size: 14px;
			margin-bottom: 6px;
		}
	}

	& input {
		@include mobile {
			font-size: 16px;
			padding: 8px;
		}
	}
}

.login-form-box button {
	@include large-orange-button;
}

.song-edit-modal {
  width: 900px;
}