@import "./style";

.navbar-div {
    z-index: 9;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 51, 51);
    // padding: 0% 4% 0% 4%;
}

.navbar-div a {
    margin-left: 6%;
}
.navbar-buttons {
    display: flex;
    width: 220px;
    margin-right: 6%;

}

.stereo-icon-div {
    height: 46px;
    display: flex;
    align-items: center;
    background-color: $orange;
    transition: background-color 0.6s;
    &:hover{
        background-color:rgb(51, 51, 51);
    } 
}
.stereo-icon {
    font-size: 30px;
    color: white;
    transition: color 0.6s;
    &:hover{
        color: $orange;
        cursor: pointer;
    }
}



.create-account-button{
	@include small-orange-button;
}

.sign-in-button{
	@include small-transparent-button;
}

.sign-out-button{
	@include small-orange-button;
}

