@import "./style";

.navbar-div {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background-color: rgb(51, 51, 51);
}

.navbar-content{
    display: flex;
    margin: 0px 6%;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
        margin: 0px 3%;
    }
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.stereo-icon-div {
    height: 46px;
    display: flex;
    align-items: center;
    background-color: $orange;
    transition: background-color 0.6s;
    &:hover{
        background-color:rgb(51, 51, 51);
    } 
}
.stereo-icon {
    font-size: 30px;
    color: white;
    transition: color 0.6s;
    &:hover{
        color: $orange;
        cursor: pointer;
    }
}



.create-account-button{
	@include small-orange-button;

	@media (max-width: 600px) {
		padding: 4px 10px;
		font-size: 12px;
		span {
			display: none;
		}
		&::before {
			content: "+";
			font-size: 18px;
		}
	}
}

.sign-in-button{
	@include small-transparent-button;

	@media (max-width: 600px) {
		padding: 4px 10px;
		font-size: 12px;
		span {
			display: none;
		}
		&::before {
			content: "→";
			font-size: 18px;
		}
	}
}

.sign-out-button{
	@include small-transparent-button;

	@media (max-width: 600px) {
		padding: 4px 10px;
		font-size: 12px;
		span {
			display: none;
		}
		&::before {
			content: "←";
			font-size: 18px;
		}
	}
}

.upload-button {
    @include small-orange-button;
    padding: 4px 16px;

    @media (max-width: 600px) {
        padding: 4px 10px;
        font-size: 12px;
        span {
            display: none;
        }
        &::before {
            content: "↑";
            font-size: 18px;
        }
    }
}

.profile-pic-thumbnail {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 10px;
}
