@import "./style";

#play-controls {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 88%;
  background-color: #f2f2f2;
  border-top: 1px solid $light-grey;
  z-index: 100;
  padding-left: 6%;
  padding-right: 6%;
}

.currently-playing-song-data {
  width: 27%;
  font-family: interstateregular;
  display: flex;
  align-items: center;
  & img {
    margin: 0px 20px;
    width: 40px;
    height: 40px;
    border: 1px solid $light-grey;
  }
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

#player {
  width: 73%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  
  & #current-time, #song-duration{
    line-height: 50px;
    min-width: 50px;
    height: 100%;
    font-size: 12px;
    color: $orange;
  }

  & #current-time{
    text-align: right;
  }

  & #song-duration{
    text-align: left;
  }

  & .player-button {
    width: 24px;
    padding-left: 12px;
    height: 100%;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  & #timeline {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover progress{ // Chrome and Firefox transition
      height: 6px; 
    }
  }

  & progress {
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    transition: all 0.2s;
  }
}

progress[value] {
  &::-webkit-progress-value { // for Chrome
    background-color: $orange;
    border-radius: 3px;
  }
  &::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 3px;
  }
}

progress::-moz-progress-bar { // for Firefox 
  background-color: $orange ;
  border-radius: 3px;
}

#volume-button{
  position: relative;
  &:hover #volume-slider-box{
    display: flex;
  }
}

#volume-slider-box.active{
  display: flex;
}

#volume-slider-box {
  display: none;
  position: absolute;
  left: -2px;
  bottom: 1px;
  background-color: #f2f2f2;
  width: 36px;
  height: 140px;
  justify-content: center;
  margin-bottom: 46px;
  border: 1px solid #c8c8c8;
  box-shadow: -3px 3px 4px rgba(0,0,0,.1);
  :before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    pointer-events: none;
    z-index: 0;
    bottom: -10px;
    left: 10px;
    border-color: transparent transparent #ccc #ccc;
    border-style: solid;
    border-width: 5px;
    box-shadow: -3px 3px 4px rgba(0,0,0,.1);

  }
  :after {
    bottom: -8px;
    left: 9px;
    z-index: 1;
    border-color: transparent transparent #f2f2f2 #f2f2f2;
    border-style: solid;
    border-width: 4px;
  }
}

#volume-slider-axis{
  display: flex;
  flex-direction: column-reverse;
  width: 2px;
  height: 120px;
  margin: 10px 0px 10px 0px;
  background-color: #ccc;
  z-index: 2;
}

#volume-slider-axis-filled{
  width: 100%;
  height: 100%;
  background-color: $orange;
  z-index: 3;
}

#volume-slider-thumb{
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-left: -3px;
  background-color: $orange;
  z-index: 4;
}

.player-play {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTggNXYxNGwxMS03eiIvPjwvc3ZnPgo=) no-repeat 55%;
}

.player-pause {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTYgMTloNFY1SDZ2MTR6bTgtMTR2MTRoNFY1aC00eiIvPjwvc3ZnPgo=) no-repeat 55%;
}

.player-previous {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTcgNmgydjEySDdWNnptMiA2bDggNlY2bC04IDZ6Ii8+PC9zdmc+Cg==) no-repeat 55%;
}

.player-next {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTcgMThsOC02LTgtNnYxMnptOC0xMnYxMmgyVjZoLTJ6Ii8+PC9zdmc+Cg==) no-repeat 55%;
}

.player-shuffle {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEzLjU4NiAxN2wtOC04SDNWN2gzLjQxNGw4IDhIMTd2MmgtMy40MTR6TTMgMTVoMi41ODZsMi4yMDctMi4yMDcgMS40MTQgMS40MTQtMi41MDEgMi41MDEtLjI5My4yOTJIM3YtMnptMTQtNmgtMi41ODZsLTIuMjA3IDIuMjA3LTEuNDE0LTEuNDE0TDEzLjU4NiA3SDE3djJ6bTQgN2wtNCAzdi02bDQgM3ptMC04bC00IDNWNWw0IDN6Ii8+PC9zdmc+Cg==) no-repeat 55%;
}

.player-repeat-off {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=) no-repeat 55%;
}

.player-repeat-one {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTExLjAyNyAxNmE0LjU1IDQuNTUgMCAwIDAgLjIzIDJIOUE2IDYgMCAxIDEgOSA2aDNWNGw0IDMtNCAzVjhIOWE0IDQgMCAxIDAgMCA4aDIuMDI3em03LjcyNS0yLjYxYTMuOTk3IDMuOTk3IDAgMCAwLTEuNjQ4LTQuNzkybDEuNzctMS4xOC4wMi4wMTdBNS45ODcgNS45ODcgMCAwIDEgMjEgMTJjMCAxLjMtLjQxMyAyLjUwMy0xLjExNiAzLjQ4NmE0LjQ5NiA0LjQ5NiAwIDAgMC0xLjEzMi0yLjA5NnoiLz48cGF0aCBmaWxsPSIjZjUwIiBkPSJNMTUuNSAyMGEzLjUgMy41IDAgMSAxIDAtNyAzLjUgMy41IDAgMCAxIDAgN3ptLS41LTV2NGgxdi00aC0xem0tMSAwdjFoMXYtMWgtMXoiLz48L3N2Zz4K) no-repeat 55%;
}

.player-repeat-all {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=) no-repeat 55%;
}

.player-volume-high {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yem0wIDRhNSA1IDAgMCAwIDAtMTBWNWE3IDcgMCAwIDEgMCAxNHYtMnoiLz48L3N2Zz4K) no-repeat 55%;
}

.player-volume-low {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yeiIvPjwvc3ZnPgo=) no-repeat 55%;
}

.player-volume-muted {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTE4IDEwLjU4NGwtMi4yOTMtMi4yOTEtMS40MTQgMS40MTQgMi4yOTMgMi4yOTEtMi4yOTEgMi4yOTEgMS40MTQgMS40MTUgMi4yOTItMi4yOTIgMi4yOTQgMi4yOTIgMS40MTQtMS40MTUtMi4yOTMtMi4yOTEgMi4yOTEtMi4yOS0xLjQxNC0xLjQxNS0yLjI5MiAyLjI5MXpNNCA5aDQuMDAyTDEyIDV2MTRjLTIuNDQ2LTIuNjY3LTMuNzc4LTQtMy45OTgtNEg0Vjl6Ii8+PC9zdmc+Cg==) no-repeat 55%;
}

.uploader {
  font-size: 12px;
  color: $light-grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song-title {
  font-size: 14px;
  color: $dark-grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
