@import "./style";

#play-controls {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 88%;
  background-color: #f2f2f2;
  border-top: 1px solid $light-grey;
  z-index: 100;
  padding-left: 6%;
  padding-right: 6%;
}

.currently-playing-song-data {
  font-family: interstateregular;
  display: flex;
  align-items: center;
  & img {
    margin: 0px 20px;
    width: 40px;
    height: 40px;
    border: 1px solid $light-grey;
  }
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

#player {
  width: 73%;
  height: 30px;
  background-color: transparent;
  border-right: 1px solid $light-grey;
  display: flex;
  align-items: center;
  &:hover progress{ // Chrome and Firefox transition
    height: 6px; 
  }
  & button {
    width: 24px;
    height: 100%;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  & progress {
    border-radius: 5px;
    width: 90%;
    height: 2px;
    transition: all 0.3s;
  }
}

progress[value] {
  &::-webkit-progress-value { // for Chrome
    background-color: $orange;
    border-radius: 3px;
  }
  &::-webkit-progress-bar {
    background-color: #e6e6e6;
    border-radius: 3px;
  }
}

progress::-moz-progress-bar { // for Firefox 
  background-color: $orange ;
  border-radius: 3px;
}

.player-play {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTggNXYxNGwxMS03eiIvPjwvc3ZnPgo=) no-repeat 55%;
}

.player-pause {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTYgMTloNFY1SDZ2MTR6bTgtMTR2MTRoNFY1aC00eiIvPjwvc3ZnPgo=) no-repeat 55%;
}

.player-previous {
  background: url() no-repeat 55%;
}

.player-next {
  background: url() no-repeat 55%;
}

.player-shuffle {
  background: url() no-repeat 55%;
}

.player-repeat {
  background: url() no-repeat 55%;
}

.player-volume-high {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yem0wIDRhNSA1IDAgMCAwIDAtMTBWNWE3IDcgMCAwIDEgMCAxNHYtMnoiLz48L3N2Zz4K) no-repeat 55%;
}

.player-volume-low {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yeiIvPjwvc3ZnPgo=) no-repeat 55%;
}

.player-volume-muted {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTE4IDEwLjU4NGwtMi4yOTMtMi4yOTEtMS40MTQgMS40MTQgMi4yOTMgMi4yOTEtMi4yOTEgMi4yOTEgMS40MTQgMS40MTUgMi4yOTItMi4yOTIgMi4yOTQgMi4yOTIgMS40MTQtMS40MTUtMi4yOTMtMi4yOTEgMi4yOTEtMi4yOS0xLjQxNC0xLjQxNS0yLjI5MiAyLjI5MXpNNCA5aDQuMDAyTDEyIDV2MTRjLTIuNDQ2LTIuNjY3LTMuNzc4LTQtMy45OTgtNEg0Vjl6Ii8+PC9zdmc+Cg==) no-repeat 55%;
}

.uploader {
  font-size: 12px;
  color: $light-grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song-title {
  font-size: 14px;
  color: $dark-grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}