// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.song-index-item {
    display: flex;
    align-items: center;
    padding: 15px;
}

.album-cover {
    width: 160px;
    height: 160px;
    padding-right: 10px;
}