// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./style";

// SONG SPLASH INDEX STYLE (SPLASH ONLY):

.splash-index {
  // background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 3% 3% 3%;

  @include mobile {
    justify-content: center;
  }
}

.song-splash-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  & .album-cover {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 40px 15px 20px 15px;
    border: 1px solid rgba(0,0,0,.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    @include tablet {
      width: 160px;
      height: 160px;
      margin: 30px 10px 15px 10px;
    }

    @include mobile {
      width: 280px;
      height: 280px;
      max-width: 90vw;
      max-height: 90vw;
      margin: 20px auto 15px auto;
    }
  }

  & .play-button {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    &:hover {
      z-index: 10;
    }

    @include mobile {
      width: 80px;
      height: 80px;
      z-index: 10;
    }
  }

  & .pause-button {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    &:hover {
      z-index: 10;
    }

    @include mobile {
      width: 80px;
      height: 80px;
      z-index: 10;
    }
  }
}

.song-splash-item:hover .album-cover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.song-splash-item {
  & a:hover + .play-button {
    z-index: 10;
  }
  & a:hover + .pause-button {
    z-index: 10;
  }
}

.splash-filler-item {
  width: 232px;
  height: 10px;
}

.splash-song-info {
  padding-left: 20px;
  & h3 {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "interstateregular";

    @include tablet {
      width: 160px;
    }

    @include mobile {
      width: 280px;
      max-width: 90vw;
      text-align: center;
    }
  }
}

.queue-add-button {
  margin-top: 6px;
  padding: 4px 8px;
  background: none;
  border: 1px solid $light-grey;
  border-radius: 3px;
  font-size: 11px;
  color: $dark-grey;
  cursor: pointer;
  &:hover {
    border-color: $orange;
    color: $orange;
  }
}

.like-button {
  margin-top: 6px;
  margin-left: 6px;
  padding: 4px 8px;
  background: none;
  border: 1px solid $light-grey;
  border-radius: 3px;
  font-size: 11px;
  color: $dark-grey;
  cursor: pointer;
  &:hover {
    border-color: $orange;
    color: $orange;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.like-button.liked {
  border-color: $orange;
  color: $orange;
}

.repost-button {
  margin-top: 6px;
  margin-left: 6px;
  padding: 4px 8px;
  background: none;
  border: 1px solid $light-grey;
  border-radius: 3px;
  font-size: 11px;
  color: $dark-grey;
  cursor: pointer;
  &:hover {
    border-color: $orange;
    color: $orange;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.repost-button.reposted {
  border-color: $orange;
  color: $orange;
}

// SONG INDEX STYLE (STREAM AND USER SHOW):
.song-index-main {
  width: 75%;
}

.song-index-item {
  display: flex;
  padding: 15px;
  & .album-cover {
    border: 1px solid #999999;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  @include mobile {
    flex-direction: column;
    padding: 10px;
  }
}

.album-cover-wrapper {
  position: relative;
  width: 160px;
  height: 160px;
}

.album-cover-wrapper .album-cover {
  width: 100%;
  height: 100%;
  display: block;
}

.album-cover-preview {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.song-index-item:hover .album-cover-preview {
  opacity: 1;
}

.song-index-item:hover .album-cover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.album-cover {
  width: 160px;
  height: 160px;
  object-fit: cover;

  @include tablet {
    width: 140px;
    height: 140px;
  }

  @include mobile {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
  }
}

.info-and-wave {
  display: flex;
  position: relative;
  flex-direction: column;
  height: max-content;
  width: 100%;
  justify-self: center;
  margin-left: 10px;

  @include mobile {
    margin-left: 0;
    margin-top: 10px;
  }
}

.song-index-info {
  display: inline-flex;
  height: min-content;
  padding: 10px;
}

.play-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0px 8px 0px 0px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE4cHgiIGhlaWdodD0iMjlweCIgdmlld0JveD0iMCAwIDE4IDI5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4yLjIgKDk5ODMpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBsYXkgNjA8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8ZyBpZD0iYnV0dG9ucyIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2NjUuMDAwMDAwLCAtODE4LjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPgogICAgICAgICAgICA8cGF0aCBkPSJNMTY2NSw4NDcgTDE2NjkuMTUzODUsODMyLjUgTDE2NjUsODE4IEwxNjgzLDgzMi41IEwxNjY1LDg0NyBaIiBpZD0iUGxheS02MCIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
  background-repeat: no-repeat;
  background-color: $orange;
  background-size: 40% 60%;
  background-position: 60%;
  &:hover {
    -webkit-filter: brightness(70%);
    transition: all 0.2s;
    cursor: pointer;
  }
}

.pause-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0px 8px 0px 0px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE4cHgiIGhlaWdodD0iMjdweCIgdmlld0JveD0iMCAwIDE4IDI3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4yLjIgKDk5ODMpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBhdXNlIDYwPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9ImJ1dHRvbnMiIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNzQxLjAwMDAwMCwgLTgxOC4wMDAwMDApIiBmaWxsPSIjRkZGRkZGIj4KICAgICAgICAgICAgPHBhdGggZD0iTTE3NTIsODE4IEwxNzUyLDg0NSBMMTc1OSw4NDUgTDE3NTksODE4IEwxNzUyLDgxOCBaIE0xNzQxLDgxOCBMMTc0MSw4NDUgTDE3NDgsODQ1IEwxNzQ4LDgxOCBMMTc0MSw4MTggWiIgaWQ9IlBhdXNlLTYwIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);
  background-repeat: no-repeat;
  background-color: $orange;
  background-size: 42% 56%;
  background-position: 50% 51%;
  &:hover {
    -webkit-filter: brightness(70%);
    transition: all 0.2s;
    cursor: pointer;
  }
}

// SONG FORM STYLE:

.upload-background {
  padding-left: 14px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.song-upload-form-container {
  width: 850px;
  padding: 25px;
}

.song-upload-form {
  display: flex;
  margin-bottom: 30px;
}

.audio-upload {
  width: 100%;
}

.cover-photo-div {
  position: relative;
  flex-basis: 30%;
}

.cover-preview img {
  height: 260px;
  width: 260px;
  background: linear-gradient(135deg, #846170, #70929c);
}

.place-holder-cover {
  height: 260px;
  width: 260px;
  background: linear-gradient(135deg, #846170, #70929c);
}

.fields-div {
  margin-left: 1%;
  flex-basis: 70%;
  & input {
    width: 90%;
  }
}

.save-upload {
  @include small-orange-button;
}

#song-delete-button{
  position: absolute;
  @include small-transparent-button;
  color: #333;
}

.image-upload-button {
  position: absolute;
  bottom: 20px;
  left: 70px;
  background-color: #e3e7e9;
  color: black;
  align-items: center;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 10px 0px;
  &:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
  }
}

#cover-photo-edit{
  left: 107px;
}

#camera-icon {
  padding-right: 5px;
}

.song-edit-button {
  border: none;
  background: transparent;
  position: absolute;
  width: 60px;
  bottom: -8px;
  right: 0px;
  color: $dark-grey;
  &::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 20px;
    height: 17px;
    background: url(https://a-v2.sndcdn.com/assets/images/edit-2fe52d66.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
  &:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
  }
}

wave :hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
}

.hide {
  display: none;
}

// SONG SHOW PAGE

.song-show-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: -moz-linear-gradient(
    336deg,
    rgba(171, 171, 171, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, rgba(171, 171, 171, 1)),
    color-stop(100%, rgba(0, 0, 0, 1))
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    336deg,
    rgba(171, 171, 171, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* safari5.1+,chrome10+ */
  & .album-cover {
    padding: 15px;
    width: auto;
    height: 300px;
  }
}

.song-show-top::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

.song-show-top > * {
  position: relative;
  z-index: 1;
}
.song-show-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.name-artist-play {
  display: flex;
  align-items: center;
  & .play-button {
    min-height: 60px;
    min-width: 60px;
  }
  & .pause-button {
    min-height: 60px;
    min-width: 60px;
  }
  & .username {
    margin-bottom: 4px;
    padding: 6px;
    // margin-bottom: 0px;
  }
  & .song-show-title {
    font-size: 20px;
    color: white;
    padding: 6px 4px;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: max-content;
  }
}

.wave-icon{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCI+CiAgICA8cmVjdCB4PSI1IiB5PSIxMiIgZmlsbD0icmdiKDE1MywgMTUzLCAxNTMpIiB3aWR0aD0iMiIgaGVpZ2h0PSI0Ii8+CiAgICA8cmVjdCB4PSIyMSIgeT0iMTIiIGZpbGw9InJnYigxNTMsIDE1MywgMTUzKSIgd2lkdGg9IjIiIGhlaWdodD0iNCIvPgogICAgPHJlY3QgeD0iMTciIHk9IjEwIiBmaWxsPSJyZ2IoMTUzLCAxNTMsIDE1MykiIHdpZHRoPSIyIiBoZWlnaHQ9IjgiLz4KICAgIDxyZWN0IHg9IjkiIHk9IjgiIGZpbGw9InJnYigxNTMsIDE1MywgMTUzKSIgd2lkdGg9IjIiIGhlaWdodD0iMTIiLz4KICAgIDxyZWN0IHg9IjEzIiB5PSI1IiBmaWxsPSJyZ2IoMTUzLCAxNTMsIDE1MykiIHdpZHRoPSIyIiBoZWlnaHQ9IjE4Ii8+Cjwvc3ZnPgo=) no-repeat 55%;
  background-size: 28px 28px;
}

#song-show-bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
  // > div {
  //   margin: 10px;
  // }
}

#song-show-bottom-left{
  width: 70%;
  padding: 20px 20px;
}

#uploader-and-comments{
  display: flex;
}

#song-show-sidebar{
  min-width: 320px;
  flex-basis: initial;
  margin-left: 1px;
}
