// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./style";

// SONG SPLASH INDEX STYLE (SPLASH ONLY):

.splash-index {
  // background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 3% 3% 3%;
}

.song-splash-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  & .album-cover {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 40px 15px 20px 15px;
    border: 1px solid $light-grey;
  }

  & .play-button {
    width: 72px;
    height: 72px;
    position: absolute;
    bottom: 39%;
    left: 34.5%;
    z-index: -1;
    &:hover {
      z-index: 10;
    }
  }
}

.song-splash-item {
  & .album-cover:hover + .play-button {
    z-index: 10;
  }
}

.splash-filler-item {
  width: 232px;
  height: 10px;
}

.splash-song-info {
  padding-left: 20px;
  & h3 {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "interstateregular";
  }
}

// SONG INDEX STYLE (STREAM AND USER SHOW):
.song-index-main {
  width: 75%;
}

.song-index-item {
  display: flex;
  padding: 15px;
}

.album-cover {
  width: auto;
  height: 160px;
}

.info-and-wave {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  justify-self: center;
  margin-left: 10px;
}

.song-index-info {
  display: inline-flex;
  height: min-content;
  padding: 10px;
}

.play-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0px 8px 0px 0px;
  // background-image: url("https://www.seoclerk.com/pics/201040-1BWel91523999779.png");
  background-image: image-url("play-button.png");
  background-color: $orange;
  background-size: contain;
  &:hover {
    -webkit-filter: brightness(70%);
    transition: all 0.2s;
    cursor: pointer;
  }
}

.waveform {
  // height: 70px;
  // width: max-content;
  // width: 100%;
  // display: block;
  // background: image-url("waveform.png");
}

// SONG FORM STYLE:

.upload-background {
  padding-left: 14px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.song-upload-form-container {
  width: 800px;
  padding: 25px;
}

.song-upload-form {
  display: flex;
}

.audio-upload {
  width: 100%;
}

.cover-photo-div {
  position: relative;
  flex-basis: 30%;
}

.cover-preview img {
  height: 260px;
  width: 260px;
  background: linear-gradient(135deg, #846170, #70929c);
}

.place-holder-cover {
  height: 260px;
  width: 260px;
  background: linear-gradient(135deg, #846170, #70929c);
}

.fields-div {
  margin-left: 1%;
  flex-basis: 70%;
  & input {
    width: 90%;
  }
}

.save-upload {
  @include small-orange-button;
}

.image-upload-button {
  position: absolute;
  bottom: 20px;
  left: 77px;
  background-color: #e3e7e9;
  color: black;
  align-items: center;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 10px 0px;
  &:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
  }
}

#waveform-canvas {
  // width: 800px;
}

.test {
  // width: 800px;
}

wave :hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
}

.hide {
  display: none;
}

// SONG SHOW PAGE

.song-show-top {
  display: flex;
  justify-content: space-between;
  background: -moz-linear-gradient(
    336deg,
    rgba(171, 171, 171, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, rgba(171, 171, 171, 1)),
    color-stop(100%, rgba(0, 0, 0, 1))
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    336deg,
    rgba(171, 171, 171, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* safari5.1+,chrome10+ */
  & .album-cover {
    padding: 15px;
    width: auto;
    height: 300px;
  }
}
.song-show-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.name-artist-play {
  display: flex;
  align-items: center;
  & .play-button {
    height: 60px;
    width: 60px;
  }
  & .username {
    margin-bottom: 4px;
    padding: 6px;
    // margin-bottom: 0px;
  }
  & .song-show-title {
    font-size: 20px;
    color: white;
    padding: 6px 4px;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: max-content;
  }
}

// SONG EDIT MODAL

